body { background: #542380; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 59px; display: flex; }
.block-metrics-0 { color: #9b5735; font-size: 15px; margin-bottom: 5px; }
.block-cart-1 { color: #4855d2; font-size: 20px; margin-bottom: 5px; }
.block-token-2 { color: #41b41f; font-size: 19px; margin-bottom: 5px; }
.block-filter-3 { color: #f614f6; font-size: 21px; margin-bottom: 5px; }
.block-metrics-4 { color: #df8982; font-size: 21px; margin-bottom: 5px; }
.block-cluster-5 { color: #9db259; font-size: 16px; margin-bottom: 5px; }